@{
    ViewBag.Title = "Inicio";
}

<h1>Juego de Atrapar Objeto</h1>

<div>
    <a href="@Url.Action("Play", "Game")" class="btn btn-primary">Iniciar Juego</a>
</div>

<br />

<button id="btnHighContrast">Modo Alto Contraste</button>
<button id="btnFontUp">Aumentar Tamaño de Letra</button>

<script src="~/Scripts/jquery-3.7.1.js"></script>
<script src="~/Scripts/main.js"></script>
